*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}
/* nav */

.icon {
    float: left;
    padding: 30px;
    margin-left: 45px;
}
.navbar{
    background: white !important;
}